@font-face {
	font-family: 'Open Sans';
	src: url('/tpl_css/fonts/OpenSans-SemiBold.eot');
	src: url('/tpl_css/fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('/tpl_css/fonts/OpenSans-SemiBold.woff2') format('woff2'),
	url('/tpl_css/fonts/OpenSans-SemiBold.woff') format('woff'),
	url('/tpl_css/fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/tpl_css/fonts/OpenSans-Bold.eot');
	src: url('/tpl_css/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('/tpl_css/fonts/OpenSans-Bold.woff2') format('woff2'),
	url('/tpl_css/fonts/OpenSans-Bold.woff') format('woff'),
	url('/tpl_css/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/tpl_css/fonts/OpenSans-Regular.eot');
	src: url('/tpl_css/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('/tpl_css/fonts/OpenSans-Regular.woff2') format('woff2'),
	url('/tpl_css/fonts/OpenSans-Regular.woff') format('woff'),
	url('/tpl_css/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/tpl_css/fonts/OpenSans-ExtraBold.eot');
	src: url('/tpl_css/fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('/tpl_css/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
	url('/tpl_css/fonts/OpenSans-ExtraBold.woff') format('woff'),
	url('/tpl_css/fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('/tpl_css/fonts/OpenSans-Light.eot');
	src: url('/tpl_css/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
	url('/tpl_css/fonts/OpenSans-Light.woff2') format('woff2'),
	url('/tpl_css/fonts/OpenSans-Light.woff') format('woff'),
	url('/tpl_css/fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
* {
	margin: 0px;
	padding:  0px;
	box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
}
a {	
	color: rgb(66,139,220);
	text-decoration: none !important;
	transition: 0.3s;
}
a:hover {
	color: rgb(255, 180, 73);
}

/*-----HEADER-STYLE-START-----*/
.header-info {
	width: 100%;
	background: rgba(80, 80, 80, 1);
	height: 40px;
}
.header-info span.contacts-text {
	font-size: 14px;
	font-weight: 800;
	color: white;
	line-height: 40px;
	vertical-align: middle;
	margin-right: 30px;
}
.header-info .contacts-phone-second > .contacts-text {
	display: none;
	position: absolute;
	top: 40px;
	padding: 10px 25px;
	color: rgb(80,80,80);
	font-size: 	14px;
	font-weight: 800;
	background: rgba(255,255,255,0.7);
	z-index: 10;
}
.header-info span.fa {
	margin-right: 10px;
	color: rgb(255, 180, 73);
}
.header-info-buttons {
	margin-top: 5px;
	float: right;
	display: inline-block;
	position: relative;
}
.header-begin-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 25px 0;
	overflow: hidden;
}
.header-begin-info-btns {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between; 
}
.logo {
	max-width: 100%;
}
.logo img{
	width: 100%;
}
/*-----HEADER-STYLE-END-----*/

/*-----CONTENT-STYLE-START*/
.container,
.header,
.footer,
.sub-footer {
	width: 100%;
	max-width: 100% !important;
}
.content {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}
.main-wrapper {
	min-height: 550px;
}
.text {
	padding: 20px 15px; 
	text-align: justify;
}
/*-----CONTENT-STYLE-END*/

/*-----MENU-MAIN-START-----*/

.header .menu {
	height: 80px;
	background: rgba(255, 180, 73, 1);
	color: rgb(103, 93, 78);
	font-weight: 600;
	font-size: 20px;
}
.header .menu-mobile {
	display: none;
	height: 80px;
}
.menu-elements {
	display: flex;
	flex-flow: row nowrap;
	justify-content: stretch;
	align-items: center;
	list-style: none;
}
.menu-elements li {
	display: inline-block;
	height: 80px;
	padding-top: 26px;
	width: 240px;
	text-align: center;
	cursor: pointer;
}
.menu-elements li.active,
.menu-elements li:hover {
	background: rgb(66, 139, 220);
	color: rgb(255,255,255);
	transition: .7s;
}
/*-----MENU-MAIN-END-----*/

/*-----MENU-CABINET-START-----*/
.menu-cabinet-elements-block-right {
	margin-top: -4px;
}
.menu-cabinet .menu-elements li {
	height: 80px;
    padding: 25px 20px;
    width: auto;
}
.menu-cabinet .menu-elements li a {
	color: rgb(255,255,255); 
}
.menu-cabinet .menu-elements li.menu-cabinet-elements {
	padding: 15px 20px;
	width: auto;
}
.menu-cabinet .menu-elements li.menu-cabinet-logo {
	margin-right: 100px;
	padding: 0;
}
.menu-cabinet .menu-elements li.menu-cabinet-logo:hover {
	background: rgba(255,255,255,0);
}
.menu-cabinet .menu-elements {
	justify-content: space-between;
}
.menu-cabinet .menu-arrow-down {
	width: 15px;
}
.menu-cabinet li.menu-profile-element {
	display: inline-flex;
	align-items: center;
	width: auto;
}
.menu-cabinet .menu-profile-photo {
	display: flex;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid rgba(255,255,255,0.5);
	margin: 0px 10px;
}
.menu-cabinet .menu-profile-photo img {
	height: auto;
	max-width: 45px;
	width: auto;
	max-height: 45px;
	margin: auto;
}
.menu-cabinet-submenu ul {
	display: none;
 	position: absolute;
  	width: 150px;
  	margin-top: 25px;
 	margin-left: -20px;
 	background: rgb(66,129,220);
 	font-size: 12px;
 	padding: 0;
 	z-index: 10;
}
.menu-profile-element.menu-cabinet-submenu ul {
	display: none;
 	position: absolute;
  	width: 200px;
 	top: 55px;
 	background: rgb(66,129,220);
 	font-size: 12px;
 	padding: 0;
 	z-index: 10;
}
.menu-cabinet-submenu ul li.menu-cabinet-submenu-item { 
	width: 100%;
	height: 40px;
	padding: 0px;
	line-height: 1.5;
	text-align: left;
	padding: 10px;
}
.menu-cabinet-submenu ul li:hover { 
	width: 100%;
}
li.menu-cabinet-submenu:hover > ul {
	display: block;
} 
.menu-elements .menu-cabinet-mobile-icon {
	display: none;
}
.menu-elements .menu-cabinet-mobile-icon .fa-bars {
	font-size: 	30px;
}
.menu-create {
	display: none;
	position: fixed;
	right: 55px;
	top: 170px;
	background: rgb(66,139,220);
	width: 250px;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 600;
	z-index: 9999;
}
.menu-create li {
	list-style: none;
	padding: 10px 10px;
	text-align: center;
}
.menu-create li:hover {
	background: rgb(255,180,73);
	cursor: pointer;
}
.menu-create li a{
	color: rgb(255,255,255);
}

/*-----MENU-CABINET-END-----*/


/*-----FOOTER-STYLE-START-----*/
.footer {
	background: rgba(80, 80, 80, 1);
	overflow: hidden !important;
}
.footer-columns {
	display: flex;
	align-items: stretch;
}
.footer-list-block li {
	list-style: none;
	text-align: left;
}
.footer-list-block li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 16px;
}
.footer .faq-block {
	display: none;
} 
.footer .faq-block {
	text-align: center;
	margin-bottom: 20px;
}
.footer .faq-link {
	color: rgb(255,255,255);
	font-size: 14px;
	font-weight: 600;
}
.sub-footer {
	background: rgba(101, 101, 101, 1);
	color: rgb(255, 255, 255);
	font-weight: 600;
	padding: 20px 0px;
}
.sub-footer .element-wrap-list.footer-columns .element-wrap {
	width: auto;
}
.sub-footer .sub-footer-text {
	font-size: 14px;
	text-align: left;
}
.sub-footer .sub-footer-text p {
	margin-bottom: 20px;
}
.sub-footer .sub-footer-text a {
	color: rgb(255, 255, 255);
}
.sub-footer .sub-footer-text .social {
	margin-top: 0;
}
.sub-footer .sub-footer-text .social-item {
	font-size: 40px;
	margin-right: 10px;
}
.sub-footer .sub-footer-text .link-contacts {
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: underline !important;
}
/*-----FOOTER-STYLE-END-----*/

.info-block {
	width: 100%;
	font-size: 16px;
	color: rgb(80,80,80);
	padding: 10px;
	line-height: 1.7;
	background: rgb(237, 237, 237);
	margin-top: 50px;
	min-height: 30px;
	border-radius: 5px;
}
.info-block span.text-magistr {
	font-weight: 800;
	color: rgb(66, 139, 220);
}
.info-block span.text-zno {
	font-weight: 800;
}

.info-block span.text-semibold {
	font-weight: 600;
}

/*-----ELEMENTS-STYLE-START-----*/
.elements-block {
	margin-top: 45px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-end;
}
.element-wrap {
	text-align: center;
	width: 150px;
}
.element-wrap .subject-title {
	font-weight: 600;
	font-size: 16px;
}
.element-wrap .subject-title--blue {
	font-weight: 600;
	color: rgb(66, 139, 220);
	font-size: 18px;
}
.subject-title--orange {
	color: rgb(255, 179, 73);
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: left;
}
.element-wrap-list .element-wrap {
	margin: 0 auto;
}
.element-wrap-list-arrowed .element-wrap {
	height: 200px;
	position: relative;
}
.element-wrap-list-arrowed .element-wrap .main-image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: -20px;
	right: 0;
	margin: auto;
}
.element-wrap .step-element .image-arrow-question {
	margin-left: 15px;
	margin-right: 45px;
}
.element-wrap-list-arrowed .element-wrap .main-arrow {
	position: absolute;
	top: 0;
	left: 140px;
	bottom: -20px;
	right: 0;
	margin: auto;
}
.element-wrap--question {
	width: 100%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}
.twin-arrow {
	position: absolute;
	top: -30px;
	left: 0;
	bottom: -180px;
	right: 0;
	margin: auto;
	display: none;
}

/*-----ELEMENTS-STYLE-END-----*/

/*-----BTNS-STYLE-START-----*/
.button {
	display: inline-block;
	border-radius: 5px;
	font-size: 	13px;
	font-weight: 600;
	text-align: center;
	transition: 1s;
	padding: 10px 10px;
	cursor: pointer;
}
.button-small {
	font-size: 12px;
	padding: 5px 5px;
}
.button-middle {
	height: 30px;
	padding: 3px 10px;
}
.button-big {
	font-size: 16px;
	padding: 10px 20px;
}
.button-icon {
	width: 40px;
	margin-left: 10px;
	font-size: 25px;
	padding: 0px 5px;
}
.button-rounded {
	border-radius: 40px;
}
.button-wide {
	padding: 10px 75px;
}
.button-width {
	width: 100%;
}
.button-border {
	border: 2px solid rgb(0,0,0);
	background: rgba(255,255,255,0);
}
.button-border:hover {
	color: rgb(255,255,255);
}
.button-border--blue {
	color: rgb(66,139,220);
	border-color: rgb(66,139,220);
}
.button-border--blue:hover {
	background: rgb(66,139,220);
}
.button-border--orange {
	color:rgb(255,179,73);
	border-color: rgb(255,179,73);
}
.button-border--orange:hover {
	background: rgb(255,179,73);
}
.button-border--white {
	border-color: rgb(255,255,255);
}
.button-border--dark {
	color: rgb(80,80,80);
	border-color: rgb(80,80,80);
}
.button-border--dark:hover {
	background: rgb(80,80,80);
}
.button-full {
	border: 2px solid rgb(255,255,255);
	background: rgba(255,255,255,1);
	color: rgb(255,255,255);
}
.button-full:hover {
	background: rgba(255,255,255,0);
}
.button-full--blue {
	border: 2px solid rgb(66,139,220);
	background: rgb(66,139,220);
}
.button-full--blue:hover {
	color: rgb(66,139,220);
}
.button-full--orange {
	border: 2px solid rgb(255,179,73);
	background: rgb(255,179,73);
}
.button-full--orange:hover {
	color: rgb(255,179,73);
}
.button-full--white {
	color: rgb(66,139,220);
	border: 2px solid rgb(255,255,255);
}
.button-full--white:hover {
	color: rgb(255,179,73);
}
.button-full--dark {
	border: 2px solid rgb(80,80,80);
	background: rgb(80,80,80);
}
.button-full--dark:hover {
	color: rgb(80,80,80);
}
.create-button {
	position:  fixed;
    right:  0;
    top:  170px;
    background:  rgb(66,139,220);
    border-radius:  10px;
    width: 50px;
    height: 50px;
    text-align:  center;
    color:  rgb(255,255,255);
    font-size: 40px;
    line-height: 50px;
    z-index: 9999;
}
.close-button {
	color: rgb(255,255,255);
	font-size: 	30px;
	text-align:  right;
    display: block;
    margin-right: 15px;
    margin-top: 5px;
}
.contact-form .close-button {
	color: rgb(80,80,80);
	font-size: 	30px;
	text-align:  right;
    display: block;
    margin-right: 15px;
    margin-top: 0px;
}
/*ПЕРЕДЕЛАТЬ СТИЛИ ПОД БЭМ, УНИФИЦИРОВАТЬ РАЗМЕРЫ ОТСТУПЫ ПОУБИРАТЬ ФИКСИРОВАННУЮ ШИРИНУ В РАЗМЕТКЕ*/
.button-full-blue {
	font-weight: 600;
	font-size: 13px;
	border: 2px solid rgb(66, 139, 220);
	background: rgb(66, 139, 220);
	text-align: center;
	line-height: 2.7;
	transition: 1s;
	color: white;
	height: 40px;
}
.button-full-blue:hover {
	color: rgb(66, 139, 220);
	background: rgba(255,255,255,0);
}
.button-full-blue--big {
	font-size: 16px;
	line-height: 50px;
	height: 50px;
	margin-top: 20px;
	line-height: 3;
}
.button-border-blue {
	font-weight: 600;
	font-size: 13px;
	border: 2px solid rgb(66, 139, 220);
	color: rgb(66, 139, 220);
	text-align: center;
	line-height: 2.7;
	background: rgba(255,255,255,0);
	transition: 1s;
	height: 40px;
}
.button-border-blue:hover {
	color: white;
	background: rgb(66, 139, 220);
}
.button-full-yellow {
	font-weight: 600;
	font-size: 13px;
	border: 2px solid rgb(255, 179, 73);
	background: rgb(255, 179, 73);
	text-align: center;
	line-height: 2;
	margin-top: 5px;
	transition: 1s;
	color: white;
	height: 30px;
}
.button-full-yellow:hover {
	color: rgb(255, 180, 73);
	background: rgb(80, 80, 80);
}
.button-border-yellow {
	font-weight: 600;
	font-size: 13px;
	border: 2px solid rgb(255, 179, 73);
	background: rgb(80, 80, 80);
	color: rgb(255, 180, 73);
	text-align: center;
	line-height: 2;
	margin-top: 5px;
	transition: 1s;
	height: 30px;
}
.button-border-yellow:hover {
	color: rgb(255, 255, 255);
	background: rgb(255, 179, 73);
}
.button-full-orange {
	font-weight: 600;
	font-size: 16px;
	border-radius: 5px;
	background: rgb(255, 179, 73);
	text-align: center;
	line-height: 3;
	margin-top: 20px;
	transition: 1s;
	color: white;
	height: 50px;
	outline: 0;
	border: 0;
}
.button-full-orange--two-lines {
	line-height: 1.6;
}
.button-full-orange:hover {
	color: rgb(255, 255, 255);
	background: rgb(66, 139, 220);
}
.button-full-white {
	font-weight: 600;
	font-size: 16px;
	border: 2px solid rgb(255, 255, 255);
	background: rgb(255, 255, 255);
	text-align: center;
	line-height: 2;
	transition: 1s;
	color: rgb(85, 150, 223);
	text-decoration: underline !important;
	text-decoration-color: rgb(85, 150, 223);
	height: 50px;
}

/*-----BTNS-STYLE-END-----*/

/*-----CARDS-STYLE-START-----*/
.cards-container {
	display: flex;
	flex-wrap: wrap;
    justify-content:  space-evenly;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
    padding: 20px 0px;
}
.card-block {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  space-between;
	width: 30%;
	margin-right: 10px;
	border: 1px solid rgb(225,225,225);
	border-radius: 5px;
	padding: 80px 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);;
	background: rgba(250,250,250,1);
	margin: 10px auto;
	cursor: pointer;
	transition: all 0.4s;
}
.card-block:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	border-color: rgba(66,139,220);
}
.card-block--english {
	position: relative;
	margin-top:-10px;
	margin-bottom: -10px;
	width: 35%;
	border-radius: 10px;
	border-color: rgba(66,139,220);
	transition: all 0.4s;
	transition-timing-function: ease-out;
}
.card-block--english:hover {
	margin-top:-13px;
	margin-bottom: -13px;
	width: 36%;
	border: 2px solid rgba(66,139,220);
}
.carb-block__footer {
	position: absolute;
	bottom: 20px;
	width: 90%;
	border: 1px solid rgba(255,255,255,0.5);
	background: rgba(255,255,255,0.5);
	text-align: center;
	border-radius: 	40px;
	padding: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	transition: all 0.3s;
}
.carb-block__footer:hover { 
	background: rgba(255,255,255,0.7);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-block__title h4{
	color: rgb(66,139,220);
	font-size: 	18px;
	font-weight: 700;
}
.card-block__image {
	margin-bottom: 	10px;
}
.card-block__button {
	color:  rgb(66,139,220);
    font-weight: 600;
    text-transform:  uppercase;
}
.card-block__price {
    font-size: 10px;
    text-transform:  uppercase;
    font-weight: 700;
    color:  rgb(80,80,80);
}
.cards-footer {
	width: 100%;
	height: 100px;
    max-width: 800px;
    text-align: center;
    border:  1px solid rgb(200,200,200);
    margin: 0 auto;
    margin-top: -30px;
    margin-bottom: 30px;
    border-top: none;
    border-radius: 0px 0px 20px 20px;
}
.cards-button {
	position: relative;
	top:75px;
}
.cards-button:hover {
	background: rgba(66,139,220,0.85);
	color: rgb(255,255,255);
}

/*-----CARDS-STYLE-END-----*/

/*-----AUTH-FORM-STYLE-START-----*/

.auth-form {
	display: none;
	position: absolute;
	top: 50px;
	right: 0px;
	z-index: 10;
	width: 240px;
	background: rgb(255,255,255);
	border: 1px solid rgb(207,207,207);
	border-radius: 5px;
	padding: 20px;
}
.auth-form .auth-form-item {
	text-align: center;
	margin: 10px 0;
}
.auth-form .auth-form-item input {
	border: 1px solid rgb(207,207,207);
	padding: 8px;
	border-radius: 5px;
	outline: none;
}
.auth-form .lost-pass-text {
	color: rgb(80,80,80);
	font-size: 12px;
	font-weight: 600;
	margin-right: 5px;
}
.auth-form-item--head {
	display: none;
}
.auth-form-page {
	margin: 30px auto;
}

/*-----AUTH-FORM-STYLE-END-----*/

/*-----CONTACT-FORM-STYLE-START-----*/
.support-button {
	position: fixed;
	top: 295px;
	right: -55px;
	width: 150px;
	height: 40px;
	transform: rotate(270deg);
	background: rgb(80,80,80);
	text-align: center;
	line-height: 40px;
	color: rgb(255,255,255);
	border-radius: 5px 5px 0 0;
	z-index: 999;
	cursor: pointer;
}
.contact-form {
	display: none;
	position: fixed;
	top: 240px;
	right: 50px;
	width: 240px;
	height: 320px;
	border: 1px solid rgb(80,80,80);
	border-radius: 5px;
	background: rgb(255,255,255);
	color: rgb(80,80,80);
	text-align: center;
	padding: 5px 10px;
	z-index: 999;
}
.contact-form .contact-form-item {
	margin-bottom: 10px;
	width: 100%;
}
.contact-form .contact-form-item input, .contact-form-item textarea {
	width: 90%;
	padding: 3px;
	outline: none;
	font-size: 	12px;
	color: rgb(140,140,140);
	border: 1px solid rgb(80,80,80);
	resize: none;
}

.contact-form .contact-form-item.contact-form-item--buttons {
	display: flex;
	justify-content: space-evenly;
}
.contact-form .contact-form-item .file-upload {
	 position: relative; 
     overflow: hidden; 
     width: 90px;
     height: 32px;
}
.contact-form .contact-form-item .file-upload input[type="file"]{
    display: none; 
}
.contact-form .contact-form-item .file-upload label {
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
}
.contact-form .contact-form-item .file-upload span {
     line-height: 30px;
}
.contact-form .contact-form-item--head-title {
	font-size: 	14px;
	font-weight: 600;
}
.contact-form .contact-form-item--head-text {
	font-size: 	10px;
	font-weight: 600;
}

/*-----CONTACT-FORM-STYLE-END-----*/

/*-----FORM-PAGE-STYLE-START-----*/

.form-page-title {
	width: 100%;
	background: rgba(66, 139, 220, 1);
	color: rgb(255, 255, 255);
	font-weight: 600;
	font-size: 34px;
	padding: 20px;
	text-align: center;
}
.form-page-header {
	background: rgb(80,80,80);
	padding: 2px;
}
.form-page-menu {
	text-align: center;
}
.form-page-menu ul {
	display: flex;
	justify-content: space-evenly;
	margin: 10px 0 ;
}
.form-page-menu ul li{
	display: inline-block;
	vertical-align: middle;
}
.form-page-menu ul li a{
	color: rgb(255,255,255);
	font-size: 14px;
	font-weight: 600;
}
.form-group {
	padding: 10px 25px;
	background-color: #dadbda;
	border: 1px solid black;
	border-radius: 5px;
}
.static-create {
	margin: 20px auto;
}
.page-hat-text-admin {
	margin: 10px 70px;
}

/*-----REGISTRATION-FORM-STYLE-START-----*/


.form {
	width: 480px;
	margin: 30px auto;
	margin-bottom: 30px;
	font-weight: 600;
}
.form-block {
	margin-top: 35px;
}
.form-block-title {
	display: inline-block;
	font-size: 16px;
	color: rgb(66, 139, 220);
	text-decoration: underline;
	margin-bottom: 15px;
}
.form-item {
	position: relative;
	margin-top: 11px;
}
.form-item input{
	width: 100%;
	border: 1px solid rgb(80,80,80);
	border-radius: 5px;
	outline: none;
	padding: 7px;
}
.form-item textarea {
	width: 100%;
	border: 1px solid rgb(80,80,80);
	border-radius: 5px;
	outline: none;
	padding: 7px;
}
.form-item label {
	cursor: pointer;
}
.form-item.form-item--photo input,
.profile-form .form-item.form-item--photo input{
	width: 150px;
	height: 150px;
}
.form-item--send .button-full-blue{
	margin: 0 auto;
}
.form-item-title {
	display: block;
	font-size: 14px;
}
.form-item-tooltip {
	display: none;
	float: right;
	position: absolute;
	top: -11px;
	right: -1px;
	width: 60%;
	height: 40px;
	border: 1px solid rgb(237,237,237);
	border-radius: 5px;
	font-size: 12px;
	background: rgba(237,237,237,1);
	padding-left: 5px;
}
.form-item.form-item--photo > .form-item-tooltip {
	top: 29px;
}
.form-item input:hover + .form-item-tooltip, .form-item textarea:hover + .form-item-tooltip {
	display: block;
}
.form-item-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form-item .loaded-photo {
    width:  150px;
    text-align: center;
    margin-bottom:  10px;
}
.form-item .loaded-photo img {
	width:  auto;
    height:  auto;
    max-width:  150px;
    max-height: 150px;
    border: 1px solid rgb(66,139,220);
    border-radius: 10px;
}

/*-----REGISTRATION-FORM-STYLE-END-----*/

/*-----PROFILE-FORM-STYLE-START-----*/

.profile-title {
	font-size: 20px;
	font-weight: 600;
	margin: 30px 0px;
	color: rgb(66,139,220);
}
.profile-form  {
	width: 100%;
	max-width: 740px;
}
.profile-form .form-block .form-item  {
	padding-bottom: 15px;
	border-bottom: 2px solid rgb(237,237,237);
}
.profile-form .form-block--auth .form-item--changeable:nth-child(3), 
.profile-form .form-block--auth .form-item--changeable:nth-child(4), 
.profile-form .form-block .form-item--btn{
	border-bottom: 0;
}
.profile-form .form-item input, 
.profile-form .form-item input:disabled {
	background: rgb(255,255,255);
	width: 100%;
	max-width: 320px;
	border: 1px solid rgb(237,237,237);
}
.profile-form .form-item--changeable input {
	border: 1px solid rgb(66,139,220);
}

.profile-form .form-item textarea, 
.profile-form .form-item textarea:disabled {
	background: rgb(255,255,255);
	width: 100%;
	max-width: 640px;
	border: 1px solid rgb(237,237,237);
}
.profile-form .form-item-tooltip {
	display: block;
	float: right;
	position: static;
	width: 320px;
	height: 40px;
	border: 0px;
	font-size: 12px;
	background: rgba(255,255,255,1);
	padding-left: 5px;
}

.profile-form.profile-form-email-post .form-item input {
	width: auto;
}

.profile-form.profile-form-pay .form-item.form-item--btn {
	width:100%;
	max-width: 100%;
	display: flex;
	justify-content: space-around;
}
.profile-form.profile-form-pay {
	color: rgb(80,80,80);
	font-size: 14px;
}
.profile-form.profile-form-pay .form-item.form-item--btn .button-full-blue{
	padding: 0px 15px;
	width: auto;
}
.profile-form.profile-form-pay .info-tooltip {
	font-size: 20px;
	color: rgb(66,139,220);
}
.profile-form.profile-form-pay .info-tooltip-block {
	display: none;
	position: absolute;
	z-index: 10;
	width: 100%;
	max-width: 100%;
	background: rgba(250,250,250,1);
	padding: 15px;
	font-size: 11px;
	color: rgb(80,80,80);
}
.profile-form.profile-form-pay .info-tooltip:hover + .info-tooltip-block {
	display: block;
}
.profile-form.profile-form-pay .form-item.pay-block {
	background: rgb(250,250,250);
	font-size: 14px;
	font-weight: 600;
	color: rgb(66,139,220);
	border: 1px solid rgb(230,230,230);
	padding: 15px;
}
.course-blocks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}
.course-block { 
	flex: 0 0 48%;
	align-items: flex-start;
	padding: 0px 15px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid rgb(66,139,220);
}
.course-block.unpayed-course { 
	border: 1px solid rgb(230,230,230);
}
.course-block .course-element {
	margin: 20px 0px;
	display: flex;
	justify-content: space-between;
}
.course-block .course-element .course-item {
	flex: 0 0 37%;
	height: 40px;
	line-height: 20px;
	font-size: 	12px;
	font-weight: normal;
	text-align: center;
	padding: 10px;
	border-radius: 	20px;
	color: rgb(66,139,220);
	background: rgb(230,230,230);
}
.course-block .course-element .course-item.course-item--value {
	flex: 0 0 60%;
	font-weight: 800;	
	color: rgb(255,255,255);
	background: rgb(66,139,220);
}
.course-block.unpayed-course .course-element .course-item.course-item--value {
	color: rgb(66,139,220);
	background: rgb(230,230,230);
}
.course-pay-button {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 20px;
	color: rgb(255,255,255);
	text-align: center;
	cursor: pointer;
}
.course-block.payed-course .course-element .course-pay-button {
	background: rgb(66,139,220);
}

.course-block.unpayed-course .course-element .course-pay-button {
	background: rgb(255,180,73);
}
.course-block .course-element .course-pay-button:hover {
	opacity: 0.9;
	color: rgb(255,255,255);
}

/*-----PROFILE-FORM-STYLE-END-----*/

/*-----TABS-STYLE-START-----*/
.tabs {
  width: 800px;
  max-width: 100%;
  margin: 30px auto;
}
.tabs-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  margin: -1px 0 0 -1px;
}
.tabs-links:after {
  content: '';
  display: table;
  clear: both;
}
.tabs-links li {
  padding: 9px 15px;
  background: rgb(255,255,255);
  position: relative;
  text-align: center;
}
.tabs-links li:not(.active) {
  cursor: pointer;
}
.tabs-links li:not(.active):hover {
  background: rgb(255,179,73);
  transition: all 0.6s;
}
.tabs-links li:not(.active):hover a{
  color: rgb(255,255,255);
}
.tabs-links .active {
  background: rgb(66,139,220);
  color: rgb(255,255,255);
  transition: all 0.6s;
}
.tabs-links .active a {
	color: rgb(255,255,255);
}
.tabs-links .active:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 5px;
  background: #FFF;
}
.tabs-content {
  display: none;
  background: #FFF;
  padding: 7px 15px;
}
.tabs-content.active {
  display: block;
}
/*-----TABS-STYLE-END-----*/

/*-----CHECKBOX-STYLE-START-----*/

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 24px;
    display: inline-block;
    color: rgb(80,80,80);
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid rgb(80,80,80);
    background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after
{
    content: '';
    width: 14px;
    height: 14px;
    background: rgb(255,179,73);
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
[type="checkbox"]:disabled:checked + label:before,
[type="checkbox"]:disabled:not(:checked) + label:before
{
    border-color: #ccc;
    background-color: #eee;
}
[type="checkbox"]:disabled:checked + label:after
{
    background: #aaa;
}

/*-----CHECKBOX-STYLE-END-----*/

/*-----TESTS-STYLE-START-----*/

.testes ul li {
    display: flex;
}

/*-----MATCHES STYELS START-----*/
.matchRadio {
    list-style: none;
}
.matchRadio li {
    float: left;
    width: 15px;
    margin-left: 15px;
    border: 1px solid transparent;
    text-align: center;
    line-height: 30px;
}
.matchRadio input {
    min-width: 15px;
}
/*-----MATCHES STYELS END-----*/

.radio {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
}
.radio+label {
    cursor: pointer;
}
.radio:not(checked) {
    position: relative;
    opacity: 0;
    z-index: 2;
    margin: 0 -32px 0 -19px;
}
.radio:not(checked)+label {
    position: relative;
    padding: 3px 0 0 40px;
    line-height: 30px;
}
.radio+label:before,
.radio:not(checked)+label:before
 {
    content: '';
    position: absolute;
    top: 0px;
    left: 4px;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(200,200,200);
    z-index: 1;
} 
.radio:checked+label:after {
	content: '\00D7';
    position: absolute;
	top: -2px;
	left: 0px;
	font-size: 66px;
	font-weight: 300;
	z-index: 10;
    color: rgb(80,80,80);
}

.char .radio+label:after, 
.char .radio:not(checked)+label:after,
.matched-block .char:after {
	position: absolute;
	top: 0px;
	left: 12px;
	font-size: 20px;
	font-weight: 600;
	z-index: 10;
	width: 50px;
	height: 50px;
    color: rgb(80,80,80);
}


.char_a .radio+label:after,
.char_a .radio:not(checked)+label:after,
.matched-block .char_a:after {
    content: 'А';
}
.char_b .radio+label:after,
.char_b .radio:not(checked)+label:after,
.matched-block .char_b:after {
    content: 'Б';
}
.char_c .radio+label:after,
.char_c .radio:not(checked)+label:after,
.matched-block .char_c:after {
    content: 'В';
}
.char_d .radio+label:after,
.char_d .radio:not(checked)+label:after,
.matched-block .char_d:after {
    content: 'Г';
}
.char_e .radio+label:after,
.char_e .radio:not(checked)+label:after,
.matched-block .char_e:after {
    content: 'Д';
}

.char .radio:checked+label:before {
    content: '';
    border: 2px solid rgb(80,80,80);
    background: rgb(255,255,255);
}

.char .radio:checked+label:after {
    content: '\00D7';
    position: absolute;
	top: -2px;
	left: 0px;
	width: 30px;
	height: 30px;
	font-size: 66px;
	font-weight: 300;
	z-index: 10;
    color: rgb(80,80,80);
}

.matched-block {
	position: relative;
	display: flex;
}

.matched-block .char {
	width: 30px;
	height: 30px;
	padding: 0;
	border: 1px solid rgb(200,200,200);
	margin-right: 10px;
}
/*-----НОВЫЕ СТИЛИ КОНЕЦ-----*/




/*
.test_ul_sootv .char .char_a {
    background: url(/tpl_img/cletka_a.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}
.test_ul_sootv .char_b {
    background: url(/tpl_img/cletka_b.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}
.test_ul_sootv .char_c {
    background: url(/tpl_img/cletka_c.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}
.test_ul_sootv .char_d {
    background: url(/tpl_img/cletka_d.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}
.test_ul_sootv .char_e {
    background: url(/tpl_img/char_e.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}
.test_ul_sootv .char_f {
    background: url(/tpl_img/char_f.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}
.test_ul_sootv .char_g {
    background: url(/tpl_img/char_g.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}
*/






/*-----НОВЫЕ СТИЛИ КОНЕЦ-----*/
li.test_q_true {
    color: green;
}
li.test_q_false {
    color: red;
}
li.test_q_false .radio:checked+label:before,
li.test_q_false .radio:not(checked)+label:before {
    background: url(/tpl_img/cletka4.png);
}
li.test_q_true .radio:checked+label:before,
li.test_q_true .radio:not(checked)+label:before {
    background: url(/tpl_img/cletka2.png);
}



.char_a1 .radio:checked+label:before,
.char_a2 .radio:checked+label:before,
.char_a3 .radio:checked+label:before,
.char_a4 .radio:checked+label:before,
.char_a5 .radio:checked+label:before {
    background: url(/tpl_img/cletka1.png);
}
.char_a1 .radio:not(checked)+label:before {
    background: url(/tpl_img/cletka_a1.png);
}
.char_a1 .radio+label:before {
    background: url(/tpl_img/cletka_a1.png);
}
.char_a2 .radio:not(checked)+label:before {
    background: url(/tpl_img/cletka_a2.png);
}
.char_a2 .radio+label:before {
    background: url(/tpl_img/cletka_a2.png);
}
.char_a3 .radio:not(checked)+label:before {
    background: url(/tpl_img/cletka_a3.png);
}
.char_a3 .radio+label:before {
    background: url(/tpl_img/cletka_a3.png);
}
.char_a4 .radio:not(checked)+label:before {
    background: url(/tpl_img/cletka_a4.png);
}
.char_a4 .radio+label:before {
    background: url(/tpl_img/cletka_a4.png);
}
.char_a5 .radio:not(checked)+label:before {
    background: url(/tpl_img/char_a5.png);
}
.char_a5 .radio+label:before {
    background: url(/tpl_img/char_a5.png.png);
}
.char_a6 .radio:not(checked)+label:before {
    background: url(/tpl_img/char_a6.png);
}
.char_a6 .radio+label:before {
    background: url(/tpl_img/char_a6.png);
}
.char_a7 .radio:not(checked)+label:before {
    background: url(/tpl_img/char_a7.png);
}
.char_a7 .radio+label:before {
    background: url(/tpl_img/char_a7.png);
}
li.test_q_false .checkbox:checked+label:before,
li.test_q_false .checkbox:not(checked)+label:before {
    background: url(/tpl_img/cletka4.png);
}
li.test_q_true .checkbox:checked+label:before,
li.test_q_true .checkbox:not(checked)+label:before {
    background: url(/tpl_img/cletka2.png);
}
.char_a .checkbox:not(checked)+label:before {
    background: url(/tpl_img/cletka_a.png);
}
.char_a .checkbox+label:before {
    background: url(/tpl_img/cletka_a.png);
}
.char_b .checkbox:not(checked)+label:before {
    background: url(/tpl_img/cletka_b.png);
}
.char_b .checkbox+label:before {
    background: url(/tpl_img/cletka_b.png);
}
.char_c .checkbox:not(checked)+label:before {
    background: url(/tpl_img/cletka_c.png);
}
.char_c .checkbox+label:before {
    background: url(/tpl_img/cletka_c.png);
}
.char_d .checkbox:not(checked)+label:before {
    background: url(/tpl_img/cletka_d.png);
}
.char_d .checkbox+label:before {
    background: url(/tpl_img/cletka_d.png);
}
.char_a .checkbox:checked+label:before,
.char_b .checkbox:checked+label:before,
.char_c .checkbox:checked+label:before,
.char_d .checkbox:checked+label:before,
.char_e .checkbox:checked+label:before {
    background: url(/tpl_img/cletka1.png);
}
.char_a1 .checkbox:checked+label:before,
.char_a2 .checkbox:checked+label:before,
.char_a3 .checkbox:checked+label:before,
.char_a4 .checkbox:checked+label:before,
.char_a5 .checkbox:checked+label:before {
    background: url(/tpl_img/cletka1.png);
}
.char_a1 .checkbox:not(checked)+label:before {
    background: url(/tpl_img/cletka_a1.png);
}
.char_a1 .checkbox:not(checked)+label:before {
    background: url(/tpl_img/cletka_a1.png);
}
.char_a1 .checkbox+label:before {
    background: url(/tpl_img/cletka_a1.png);
}
.char_a2 .checkbox:not(checked)+label:before {
    background: url(/tpl_img/cletka_a2.png);
}
.char_a2 .checkbox+label:before {
    background: url(/tpl_img/cletka_a2.png);
}
.char_a3 .checkbox:not(checked)+label:before {
    background: url(/tpl_img/cletka_a3.png);
}
.char_a3 .checkbox+label:before {
    background: url(/tpl_img/cletka_a3.png);
}
.char_a4 .checkbox:not(checked)+label:before {
    background: url(/tpl_img/cletka_a4.png);
}
.char_a4 .checkbox+label:before {
    background: url(/tpl_img/cletka_a4.png);
}
.char_a5 .checkbox:not(checked)+label:before {
    background: url(/tpl_img/char_a5.png);
}
.char_a5 .checkbox+label:before {
    background: url(/tpl_img/char_a5.png.png);
}
.char_a6 .checkbox:not(checked)+label:before {
    background: url(/tpl_img/char_a6.png);
}
.char_a6 .checkbox+label:before {
    background: url(/tpl_img/char_a6.png);
}
.char_a7 .checkbox:not(checked)+label:before {
    background: url(/tpl_img/char_a7.png);
}
.char_a7 .checkbox+label:before {
    background: url(/tpl_img/char_a7.png);
}
.test_ul_sootv .char_a1 {
    background: url(/tpl_img/cletka_a1.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}
.test_ul_sootv .char_a2 {
    background: url(/tpl_img/cletka_a2.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}
.test_ul_sootv .char_a3 {
    background: url(/tpl_img/cletka_a3.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}
.test_ul_sootv .char_a4 {
    background: url(/tpl_img/cletka_a4.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}
.test_ul_sootv .char_a5 {
    background: url(/tpl_img/cletka_a5.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}
.test_ul_sootv .char_a6 {
    background: url(/tpl_img/cletka_a6.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}
.test_ul_sootv .char_a7 {
    background: url(/tpl_img/cletka_a7.png) no-repeat;
    line-height: 0;
    padding: 1px 0 1px 35px;
    margin: 3px 0;
}


.testes ul li p,
.rez_teste ul li p {
    line-height: 15px;
    margin-top: 2px;
}
.createTest form ul li {
    display: block !important;
}
.class_sootvetst .radio:not(checked)+label:before {
    left: -28px;
}
.class_sootvetst .radio:not(checked) {
    margin: 0;
}
.matchRadio input {
    min-width: 15px;
}
.class_sootvetst input {
    min-width: 28px;
}
.class_sootvetst li {
    width: 28px;
    margin-left: 0;
}
.block0_cont input {
    padding-left: 10px;
}

/*-----TESTS-STYLE-END-----*/

/*-----STATIC-PAGES-STYLE-START-----*/
.static-page-header {
	background: rgb(255,255,255);
	padding: 5px;
}
.static-page-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.static-page-header .header-info-buttons {
	margin-top: 0px;
	display: flex;
}
.static-page-header .header-info-buttons .button-full-blue.button-full-blue--icon{
	width: 40px;
	font-size: 25px;
	padding: 0 5px;
	line-height: 1.3;
}
.static-page-title-2 {
	text-align: center;
	color: rgb(66,139,220);
}

table.static-list-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 20px auto;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}
table.static-list-table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table.static-list-table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table.static-list-table th,
table.static-list-table td {
  font-size: 12px;
  padding: .625em;
  text-align: center;
}
table.static-list-table th:nth-child(1),
table.static-list-table td:nth-child(1) {
  width: 50%;
}
table.static-list-table td.date {
	font-size: 10px;
	font-weight: 600;
}

/*-----STATIC-PAGES-STYLE-END-----*/
.more-info-block {
	text-align: center;
	margin-bottom: 30px;
}


.no-display {
	display: none;
}
.block-display {
	display: block;
}
.inline-block-display {
	display: inline-block;
}
.float-left-block {
	float: left;
}
.float-right-block {
	float: right;
}
.element-border-radius-5 {
	border-radius: 5px;
}
.element-border-radius-10 {
	border-radius: 10px;
}
.element-border-radius-15 {
	border-radius: 15px;
}
.element-border-radius-20 {
	border-radius: 20px;
}
.element-border-radius-25 {
	border-radius: 25px;
}
.element-width-70 {
	width: 70px;
}
.element-width-90 {
	width: 90px;
}
.element-width-100 {
	width: 100px;
}
.element-width-150 {
	width: 150px;
}
.element-width-160 {
	width: 160px;
}
.element-width-200 {
	width: 200px;
}
.element-width-240 {
	width: 240px;
}
.element-width-250 {
	width: 250px;
}
.element-width-300 {
	width: 300px;
}
.element-width-350 {
	width: 350px;
}
.element-margin-left-10 {
	margin-left: 10px;
}
.element-margin-left-20 {
	margin-left: 20px;
}
.element-margin-left-30 {
	margin-left: 30px;
}
.element-margin-right-10 {
	margin-right: 10px;
}
.element-margin-right-20 {
	margin-right: 20px;
}
.element-margin-right-30 {
	margin-right: 30px;
}
.element-margin-right-40 {
	margin-right: 40px;
}
.element-margin-top-20 {
	margin-top: 20px;
}
.element-margin-top-minus-20 {
	margin-top: -20px;
}
.element-margin-top-40 {
	margin-top: 40px;
}
.element-margin-bottom-40 {
	margin-bottom: 40px;
}
.clear {
	clear: both;
}

@media only screen and (max-width: 960px) {

	.hide-960 {
		display: none;
	}
	.header-begin-info {
		flex-direction: column;
	}
	.header-begin-info-btns {
		flex-direction: row;
		align-items: center; 
		margin-top: 25px;
	}
	.menu-cabinet .menu-elements li.menu-cabinet-logo {
		margin-right: 50px;
		padding: 0;
	}

}
@media only screen and (max-width: 768px) {

	.hide-768 {
		display: none;
	}
	.header .menu {
		font-size: 16px;
	}
	.info-block {
		margin-top: 25px;
	}
	.elements-block {
		justify-content: center;
	}
	.how-to-start .element-wrap-list .element-wrap {
		width: 200px;
	}
	.how-to-start .element-wrap-list .element-wrap img{
		margin-bottom: 20px;
	}
	.how-to-learn .sub-section-element .element-wrap-list-arrowed .element-wrap {
		width: 145px;
	}
	.how-to-learn .sub-section-element .element-wrap-list-arrowed .main-arrow {
		margin-left: -10px;
	}
	.why-us .element-wrap {
		margin-bottom: 40px;
	}
	.why-us .element-wrap p.subject-title--blue{
		margin-bottom: 20px;
	}
	.element-wrap-list .element-wrap {
		width: auto;
	}
	.main .element-wrap {
		width: 240px;
	}
	.element-width-200 {
		margin: auto;
	}
	.main-arrow {
		margin-left: -10px;
	}
	.sub-footer .faq-link {
		display: none;
	} 
	.footer .faq-block {
		display: block;
	} 
	.sub-section-btns {
		text-align: center;
	}
	.menu-cabinet .menu-elements li.menu-cabinet-logo {
		margin-right: 10px;
		padding: 0;
	}
	.profile-form .form-item-tooltip {
		width: 100%;
		display: block;
		float: none;
		position: static;
		height: 100%;
		margin-top: 5px;
	}
	.menu-cabinet-elements-block-left {
		margin: auto;
	}
	.menu-cabinet-logo img {
		max-width: 60px;
		width: 100%
	}
	.menu-cabinet .menu-elements li.menu-cabinet-elements {
		padding: 15px 10px;
	}
	.course-blocks {
		flex-direction: row;
	}
	.course-block {
		flex: 0 0 60%;
		margin: 5px auto;
	}
	.cards-footer {
		width: 85%;
	}
	.form-item.form-item--photo > .form-item-tooltip {
		display: block;
	}
}
@media only screen and (max-width: 600px) {

	.info-block {
		max-width: 360px;
		margin: 0 auto;
		margin-top: 25px;
	}
	.header-info span.fa {
		font-size: 20px;
		margin-top: 10px;
	}
	.header-begin-info-btns { 
		justify-content: space-evenly;
	}
	.elements-block {
		justify-content: center;
	}
	.element-wrap {
		width: 200px;
	}
	.element-wrap-list .element-wrap {
		width: 400px;
	}
	.how-to-start .element-wrap-list .element-wrap {
		width: 100%;
		margin-top: 20px;
	}
	.how-to-start .element-wrap-list .element-width-300 {
		width: 100%;
		margin-top: 0;
	}
	.menu-desktop.menu-cabinet {
		display: block;
	}
	.menu-desktop {
		display: none;
	}
	.header .menu-mobile {
		display: block;
		margin-top: 20px;
	}
	.header .menu-mobile > .menu {
		background: rgb(66, 139, 220);
	}
	.header .menu-mobile .menu-elements li {
		padding-top: 0px;
	}
	.header .menu-mobile .menu-elements li a: click{
		display: none;
	}
	.menu-mobile-btn-main {
		height: 100%;
		background: url(../tpl_img/house_main_small.png) center no-repeat;
	}
	.menu-mobile-btn-main--active {
		height: 100%;
		background: url(../tpl_img/house_main_big.png) center no-repeat;
	}
	.menu-mobile-btn-main--active:after {
		content: url(../tpl_img/arrow-right.png);
		display: block;
		position: relative;
		top: 30px;
		left: 60px;
	}
	.menu-mobile-btn-start--active:after{
		content: url(../tpl_img/arrow-right.png);
		display: block;
		position: relative;
		top: 3px;
		left: 50px;
	}
	.menu-mobile-btn-learn--active:after {
		content: url(../tpl_img/arrow-right.png);
		display: block;
		position: relative;
		top: 3px;
		left: 70px;
	}
	.menu-mobile-btn-learn--active:before {
		content: url(../tpl_img/arrow-left.png);
		display: block;
		position: relative;
		top: 30px;
		right: 70px;
	}
	.menu-mobile-btn-start--active:before, .menu-mobile-btn-adv--active:before {
		content: url(../tpl_img/arrow-left.png);
		display: block;
		position: relative;
		top: 30px;
		right: 60px;
	}
	.menu-mobile-btn-start {
		height: 100%;
		background: url(../tpl_img/how_to_start_small.png) center no-repeat;
	}
	.menu-mobile-btn-start--active {
		height: 100%;
		background: url(../tpl_img/how_to_start_big.png) center no-repeat;
	}
	.menu-mobile-btn-learn {
		height: 100%;
		background: url(../tpl_img/how_to_learn_small.png) center no-repeat;
	}
	.menu-mobile-btn-learn--active {
		height: 100%;
		background: url(../tpl_img/how_to_learn_big.png) center no-repeat;
	}
	.menu-mobile-btn-adv {
		height: 100%;
		background: url(../tpl_img/advantages_small.png) center no-repeat;
	}
	.menu-mobile-btn-adv--active {
		height: 100%;
		background: url(../tpl_img/advantages_big.png) center no-repeat;
	}
	.menu-mobile-btn--click {
		display: none;
	}
	.hide-480 {
		display: none;
	}
	.header-info .element-width-160 {
		width: 120px;
	}
	.footer-columns {
		flex-direction: column;
	}
	.element-wrap-list .element-wrap {
		width: 100%;
	}
	.how-to-learn .sub-section-element .element-wrap-list-arrowed .element-wrap {
		width: 200px;
	}
	.how-to-learn .sub-section-element .element-wrap-list-arrowed .main-image--progress{
		top: -50px;
	}
	.element-wrap-list-arrowed .element-wrap .main-image {
		bottom: 0;
	}
	.element-wrap-list-arrowed .element-wrap .main-arrow {
		bottom: 0;
		left: 170px;
	}
	.question-block {
		margin-top: -80px;
	}
	.question-block .element-wrap--question {
		flex-direction: column;
	}
	.question-block .question-block-button {
		margin: 20px 0px;
	}
	.question-block .image-arrow-question {
		display: none;
	}
	.question-block .step-element {
		width: 300px;
		margin-top: 20px;
	}
	.question-block .element-wrap {
		width: 100%;
	}
	.footer-list-block {
		display: none;
	}
	.footer-list-block li, .subject-title--orange, .sub-footer .sub-footer-text {
		text-align: center;
	}
	.subject-title--orange {
		padding: 10px 0;
	}
	.form-item.form-item--photo > .form-item-tooltip {
		display: block;
	}
	.auth-form {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.auth-form-item {
		width: 100%;
		margin: 0 auto;
	}
	.auth-form-item input {
		width: 100%;
		max-height: 90px;
		height: 100%;
		font-size: 40px;
	}
	.auth-form-item .lost-pass-text{
		font-size: 25px;
		font-weight: 800;
		line-height: 3;
	}
	.auth-form-item .button-full--blue{
		float: right;
		height: 75px;
		width: 200px;
		font-size: 35px;
	}
	.auth-form-item--head {
		display: inline-block;
		margin-bottom: 10px;
	}
	.auth-form-item--head-title {
		float: left;
		font-size: 25px;
		font-weight: 800;
		text-transform: uppercase;
		color: rgb(80,80,80);
	}
	.auth-form-item--head  .fa-times-circle {
		float: right;
		font-size: 40px;
		color: rgb(255,180,73);
	}
	.contact-form {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: auto;
		padding-bottom: 30px;
		z-index: 9999;
	}
	.contact-form .contact-form-item {
		margin: 10px auto 0px auto;
		width: 90%;
	}
	.contact-form .contact-form-item--head-title {
		font-size: 	32px;
	}	
	.contact-form .contact-form-item--head-text {
		font-size: 	23px;
	}
	.contact-form .contact-form-item input, .contact-form .contact-form-item textarea {
		padding: 15px;
		font-size: 27px;
		width: 100%;
	}
	.contact-form .button {
		height: 70px;
		font-size: 27px;
		line-height: 60px;
		padding: 0px 6px;
	}
	.contact-form .contact-form-item--buttons {
		display: flex;
		justify-content: space-around;
	}

	.contact-form .contact-form-item .file-upload {
		width: 180px;
		height: 72px;
	}

	.menu-create {
		position: absolute;
		top: 0;
		right: 0;
		width: 320px;
	}
	.profile-form {
		width: 90%;
	}
	.course-block {
		flex: 0 0 100%;
	}
	.tabs-links {
		flex-direction: column;
		justify-content: flex-start;
	}
	.profile-form.profile-form-pay .form-item.form-item--btn {
		flex-direction: column;
	}
	.profile-form.profile-form-pay .form-item.form-item--btn .button-full-blue {
		margin-bottom: 	5px;
	}
	.menu-elements .menu-cabinet-mobile-icon {
		display: block;
	}
	.block-right-mobile {
		display: none;
		width: 100%;
		position: absolute;
		top:80px;
		right: 0px;
		background: rgb(255,180,73);
		z-index: 10;
		text-align: center;
	}
	.menu-cabinet-elements-block-right {
		margin-top: -22px;
	}
	.card-block {
		width: 50%;
		margin-bottom: 20px;
	}
	.card-block--english {
		width: 55%;
		margin-bottom: 0px;
	}
	.card-block--english:hover {
		width: 56%;
	}
	.cards-footer {
		border: none;
		height: auto;
	}
	.cards-button {
		top: 15px;
	}
}

@media only screen and (max-width: 480px) {
	.element-wrap-list-arrowed .element-wrap .twin-arrow {
		display: block !important;
	}
	.element-wrap-list-arrowed .element-wrap .main-arrow {
		display: none !important;
	}
	.element-wrap-list-arrowed .element-wrap {
		margin-bottom: 20px;
	}
	.form {
		width: 90%;
	}
	.form-item-tooltip {
		display: block;
		float: none;
		position: static;
		width: 100%;
		height: 100%;
		margin-top: 5px;
	}
	.auth-form-item .button-full--blue{
		float: none;
	}

	.contact-form .button {
		margin-bottom: 10px;
	}
	.contact-form .contact-form-item--buttons {
		display: flex;
		flex-direction: column;
	}
	.form-page-menu ul {
		flex-direction: column;
	}
	.header-begin-info-btns {
		flex-direction: column;
	}
	.header-begin-info-btns a { 
		margin-top: 15px;
		margin-left: 0px;
	}
	.course-block .course-element {
		flex-direction: column;
	}
	.course-block .course-element .course-item {
		margin-bottom: 	5px;
	}

	.menu-cabinet .menu-elements li.menu-cabinet-elements {
		padding: 15px 0px;
	}
	.static-page-header .header-info-buttons .button-border--blue {
		padding: 0 15px;
	}
	.card-block {
		width: 65%;
	}
	.card-block--english {
		width: 70%;
	}
	.card-block--english:hover {
		width: 71%;
	}
	.contact-form .contact-form-item .file-upload {
		width: 100%;
	}
}

@media only screen and (max-width: 320px) {

	.menu-mobile-btn-main--active:after { 
		left: 50px;
	}
	.menu-mobile-btn-start--active:after{
		left: 40px;
	}
	.menu-mobile-btn-learn--active:after {
		left: 50px;
	}
	.menu-mobile-btn-learn--active:before {
		right: 55px;
	}
	.menu-mobile-btn-start--active:before, .menu-mobile-btn-adv--active:before {
		right: 45px;
	}
	.how-to-learn .element-wrap .step-element .main-image {
		position: relative;
	}
	.how-to-learn .element-wrap .step-element .main-image--progress {
		top: 0;
	}
	.how-to-learn .element-wrap .step-element .twin-arrow {
		position: relative;
		top: 20px;
	}
	.card-block {
		width: 85%;
	}
	.card-block--english {
		width: 90%;
	}
	.card-block--english:hover {
		width: 91%;
	}

}